name: Frontend Image Build And Push 

on:
  push:
    branches:
      - main
      
permissions:
  contents: read
  packages: write
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        - name: Pulling the repo to the runner
          uses: actions/checkout@v4
        
        - name: Logging into the github account
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Building and pushing the images into the github ghcr
          uses: docker/build-push-action@v5
          with:
            push: true
            tags: ghcr.io/${{ github.repository }}:latest
        
